@import "react-day-picker/dist/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 165 45% 14%; /* #14342B */
    --primary-foreground: 0 0% 100%;
    --secondary: 182 82% 30%; /* #0F8B8D */
    --secondary-foreground: 0 0% 100%;
    --muted: 300 8% 84%; /* #DAD2D8 */
    --muted-foreground: 165 45% 14%;
    --accent: 39 84% 54%; /* #EC9A29 */
    --accent-foreground: 165 45% 14%;
    --destructive: 4 75% 38%; /* #A8201A */
    --destructive-foreground: 0 0% 100%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 165 45% 14%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    font-family: var(--font-body);
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
}
